@import url(https://fonts.googleapis.com/css2?family=Roboto); /* faltou o https: no começo pra funcionar */
@import url(https://fonts.googleapis.com/css2?family=Montserrat); /* faltou o https: no começo pra funcionar */

body {
    margin: 0;
    background-color:#FFFFFF;  
    font-family:'Roboto','Montserrat', sans-serif;
    font-size: 22px;    
}
/* main style */

.header {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 51%, #FFFFFF 100%) 0% 0% 
    no-repeat padding-box;
    width: 100%;
    height: 115px; 
    box-shadow: 0px 1px 4px #00000029;    
    opacity: 1; /* hmmm... ta copiando o codigo do Adobe XD, PEGUEI NO FLAGRA */          
}

#img {    
    position: absolute;
    left: 30px;
    top: 25px;        
}

section #img img {    
    width: 49%;
}

section #main-navigation{    
    display: inline-flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 300px;  
    height: 100%;                 
}

section #main-navigation ul{ 
    text-align: center;  
    list-style: none;
    padding: 0;  
}

section #main-navigation ul li {
    display: inline-block;
}
    

section #main-navigation ul li a {
    text-decoration: none;        
    padding: 44px 15px;
    color: inherit;    
}

/* hover style */

li:hover{
    color: white;
}

a:hover {    
    background-color: #F44336;
    color: white;      
    transition-duration: 0.6s;    
}
a #main-navigation:hover {
    background-color: #F44336;
    color: white;      
    transition-duration: 0.6s;
}

/* button style */

.button-um {
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    margin: 7px; 
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: black;
    border-radius: 6px;    
    width: 136px;
    height: 51px;
    text-decoration: none;
    font-size: 22px ;        
}

.button-dois {
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    margin: 7px;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: black;    
    border-radius: 6px;    
    width: 136px;
    height: 51px;
    text-decoration: none;
    font-size: 22px ;        
}

section #button-location {    
    position: absolute;          
    right: 30px;    
}

/* Main Content */
.container {
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

.horizontal-dotted-line {
    /* margin-left: 23.5%; >>> Isso é gambiarra */
    margin-bottom: 1%; /* troquei de 2% pra 1% pois estava muito distante */
    border: dashed 2px #F44336;
    opacity: 1;
} 

.hero {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 37px;
}

.hero-title-header {
    font-size: 30px ;
    height: 92px;
    width: 100%;
    background-color: #F44336;    
    display: inline-flex; /* Troquei inline-flex por flex que ja serve */    
    flex-direction: row;
    align-items: center;
    /* justify-content: start; >>> desnecessario neste caso */
    font-family:'Montserrat';
    font-weight: 600;
    letter-spacing: 0.7px;
}

.hero-title-header h1 {
    color: white;
    display: flex;
    /* justify-content: start; >>> desnecessario neste caso */
} 

.hero-content { 
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* troquei o valor ROW por SPACE-BETWEEN, pois ele deixa os elementos dentro desta tag, com width em tamanhos iguais */
    /* justify-content: center; >>> agora que está sendo usado um container, fica a cargo dele decidir como os itens ficarão alinhados */
    font-family: 'Tahoma';
    font-size: 20px;
    /* padding-left: 123px; >>> Isso é gambiarra */
}

/* essa regra pode ser removida, a de cima já é reutilizável */
.hero-content-dois { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Tahoma';
    font-size: 20px;
    /* padding-left: 76px; >>> Isso é gambiarra */
}

.hero-subtitle {   
    width: 100%;
    margin: 0;
    /* padding-left: 23.4%; >>> Isso é gambiarra */
    text-align: left;
    /* padding-left: 23.4%; >>> Isso é gambiarra */
    margin-top: 4%; /* 
    troquei de 21px para 4%, pra manter da mesma forma que a linha tracejada mantem a distancia do bottom dela 
    E também troquei de padding pra margin, pois faz mais sentido a section toda se distanciar o header vermelho
    do que internamente ele se distanciar do header e continuar colado, sem margin
    */
    padding-bottom: 1%; /* troquei de 21px para 1%, pra manter da mesma forma que a linha tracejada mantem a distancia do bottom dela */
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}

/* essa regra pode ser removida, a de cima já é reutilizável */
.hero-subtitle-dois {    
    width: 100%;
    margin: 0;
    text-align: left;
    margin-top: 4%; /* 
    troquei de 21px para 4%, pra manter da mesma forma que a linha tracejada mantem a distancia do bottom dela 
    E também troquei de padding pra margin, pois faz mais sentido a section toda se distanciar o header vermelho
    do que internamente ele se distanciar do header e continuar colado, sem margin
    */
    padding-bottom: 21px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}

.hero-content p {
    line-height: 1.3; /* troquei 1.1 por 1.3, pra dar um espaçamento maior */
    width: 48%; /* é perigoso usar valore fixos para tamanho de um conteudo, somente em caso específico */
    /* além disso, eu coloquei o width com 48%, pois a section que envolve ele JUNTO da imagem,
    somam um total de 50%, pois estão com space-betwen, ai é só usar 48% pra dar uma falsa margem
    a esquerda do texto
    */
    height: auto; /* é perigoso usar valore fixos para tamanho de um conteudo, somente em caso específico */
    padding-right: 2%; /* aqui troquei 5% por 2%, igual no de cima, pra manter o padrão*/
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #424242;
}

/* essa regra pode ser removida, a de cima já é reutilizável */
.hero-content-dois p {
    line-height: 1.3; /* troquei 1.1 por 1.3, pra dar um espaçamento maior */
    width: 100%; /* é perigoso usar valore fixos para tamanho de um conteudo, somente em caso específico */
    height: auto; /* é perigoso usar valore fixos para tamanho de um conteudo, somente em caso específico */
    padding-right: 2%; /* aqui troquei 5% por 2%, igual no de cima, pra manter o padrão*/
    /* padding-top: 0px; >>> não tem efeito nenhum */
    padding-bottom: 2px;
    font-size: 20px;
    color: #424242;
}

.hero-img {
    width: auto; /* troquei AUTO por 100%, pra que ele fique com o mesmo tamanho do texto, que tambem tem 100% de width */
    height: auto;
    align-self: flex-start;
}

.hero-img-dois {
    width: auto;
    height: auto;
}

