@import url(//fonts.googleapis.com/css2?family=Roboto);
@import url(//fonts.googleapis.com/css2?family=Montserrat);

body {
    margin: 0;
    background-color:#FFFFFF;  
    font-family:'Roboto','Montserrat', sans-serif;
    font-size: 22px;    
}
/* main style */

.header {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 51%, #FFFFFF 100%) 0% 0% 
    no-repeat padding-box;
    width: 100%;
    height: 115px; 
    box-shadow: 0px 1px 4px #00000029;    
    opacity: 1;           
}

#img {    
    position: absolute;
    left: 30px;
    top: 25px;        
}

section #img img {    
    width: 49%;
}

section #main-navigation{    
    display: inline-flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 300px;  
    height: 100%;                 
}

section #main-navigation ul{ 
    text-align: center;  
    list-style: none;
    padding: 0;  
}

section #main-navigation ul li {
    display: inline-block;
}
    

section #main-navigation ul li a {
    text-decoration: none;        
    padding: 44px 15px;
    color: inherit;    
}

/* hover style */

#main-navigation li:hover{
    color: white;
}

a:hover {    
    background-color: #F44336;
    color: white;      
    transition-duration: 0.6s;    
}
a #main-navigation:hover {
    background-color: #F44336;
    color: white;      
    transition-duration: 0.6s;
}

/* button style */

.button-login {
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    margin: 7px; 
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: black;
    border-radius: 6px;    
    width: 136px;
    height: 51px;
    text-decoration: none;
    font-size: 22px ;        
}

.button-register {
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    margin: 7px;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: black;    
    border-radius: 6px;    
    width: 136px;
    height: 51px;
    text-decoration: none;
    font-size: 22px ;        
}

section #button-location {    
    position: absolute;          
    right: 30px;    
}

/* Main Content */
.container {
    height: auto;    
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

.horizontal-dotted-line {
    margin-bottom: 1%;
    border: dashed 2px #F44336;
    opacity: 1;
} 

.hero {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 37px;
}

.hero-title-header {     
    font-size: 30px;
    height: 92px;
    background-color: #F44336;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 0.7px;
    color: white;
}


.hero-content { 
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-family: 'Tahoma';
    font-size: 20px;
}

.hero-subtitle {    
    width: 100%;
    margin: 0;    
    text-align: left;
    margin-top: 4%;
    padding-bottom: 1%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}

.hero-content p {
    line-height: 1.3;
    width: 48%;
    height: auto;
    padding-right: 2%;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #424242;
}

.hero-img {
    width: auto; 
    height: auto;
    align-self: flex-start;
}

/* mission section */ 
.container-dois {
    background-color: #F44336;    
    margin-top: 2%;
    box-sizing: border-box;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    color: white;
}

.hero-content-dois {   
    display: flex;
    justify-content: space-between;         
}

.box {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    height: 350px;
    border-radius: 7px;
    background-color: white;    
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;  
    color: black; 
}

.grid {    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-evenly;
    align-items: center;   
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Tahoma';
    gap: 4%;
}
.grid-img {
    width: 100%;
}

.grid-img-dois {
    width: 100%;
    height: auto;
}

/* Client Section */

.grid-client {    
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;    
    font-family: 'Tahoma';   
}

.grid-client figure:nth-child(1) {        
    text-align: left;
    line-height: 30px;
}

.grid-client figure:nth-child(2) {
    text-align: center;
    line-height: 30px;    
}

.grid-client figure:nth-child(3) {
    text-align: right;
    line-height: 30px;    
}

.grid-client figcaption {
    margin-top: 3%;
    margin-bottom: 3%;
}

.button-client {
    display: flex;
    align-items: center;   
    justify-content: center;
    background-color: #F44336;    
    color: white;
    border-radius: 6px;
    width: 100%;
    height: 70px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;      
}

.button-client:hover {
    background-color: #EF5350;
    color: white;      
    transition-duration: 0.6s;   
}
