@import url(//fonts.googleapis.com/css2?family=Roboto);
@import url(//fonts.googleapis.com/css2?family=Montserrat);

body {
    margin: 0;
    background-color:#FFFFFF;  
    font-family:'Roboto','Montserrat', sans-serif;
    font-size: 22px;    
}
/* main style */

.header {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 51%, #FFFFFF 100%) 0% 0% 
    no-repeat padding-box;
    width: 100%;
    height: 115px; 
    box-shadow: 0px 1px 4px #00000029;    
    opacity: 1;           
}

#img {    
    position: absolute;
    left: 30px;
    top: 25px;        
}

section #img img {    
    width: 49%;
}

section #main-navigation{    
    display: inline-flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 300px;  
    height: 100%;                 
}

section #main-navigation ul{ 
    text-align: center;  
    list-style: none;
    padding: 0;  
}

section #main-navigation ul li {
    display: inline-block;
}
    

section #main-navigation ul li a {
    text-decoration: none;        
    padding: 44px 15px;
    color: inherit;    
}

/* hover style */

li:hover{
    color: white;
}

a:hover {    
    background-color: #F44336;
    color: white;      
    transition-duration: 0.6s;    
}
a #main-navigation:hover {
    background-color: #F44336;
    color: white;      
    transition-duration: 0.6s;
}

/* button style */

.button-um {
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    margin: 7px; 
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: black;
    border-radius: 6px;    
    width: 136px;
    height: 51px;
    text-decoration: none;
    font-size: 22px ;        
}

.button-dois {
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    margin: 7px;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: black;    
    border-radius: 6px;    
    width: 136px;
    height: 51px;
    text-decoration: none;
    font-size: 22px ;        
}

section #button-location {    
    position: absolute;          
    right: 30px;    
}

/* Main Content */

.horizontal_dotted_line {
    margin-left: 6.4%;
    margin-bottom: 22px;
    width: 92%;
    border-top: 3px dashed #F44336;
    opacity: 1;
} 

.hero {
padding-top: 37px;

}

.hero-title-header {
    margin: 0;
    font-size: 30px ;
    height: 92px;
    width: 100%;
    background-color: #F44336;    
    display: inline-flex;    
    flex-direction: row;
    align-items: center;
    justify-content: right;
    font-family:'Montserrat';
    font-weight: 600;
    letter-spacing: 0.7px;
    }

.hero-title-header h1 {
    color: white;
    padding-left: 6.3%;
} 

.hero-content { 
    display: flex;
    flex-direction: row;
    font-family: 'Tahoma';
    font-size: 20px;
    padding-left: 123px;
}

.hero-content-dois { 
    display: flex;
    flex-direction: row;
    font-family: 'Tahoma';
    font-size: 20px;
    padding-left: 76px;
    }

.hero-subtitle {    
    margin: 0;
    padding-left: 122px;
    text-align: left;
    padding-top: 21px;
    padding-bottom: 21px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}

.hero-subtitle-dois {    
    margin: 0;
    padding-left: 122px;
    text-align: left;
    padding-top: 21px;
    padding-bottom: 21px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}

.hero-content p {
    line-height: 1.1;
    width: 510px;
    height: 310px;
    padding: 2%;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #424242;
}

.hero-content-dois p {
    line-height: 1.3;
    width: 510px;
    height: 310px;
    padding: 3%;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #424242;
}

.hero-img {
    width: auto;
    height: auto;
}

.hero-img-dois {
    width: auto;
    height: auto;
}
