@import url(https://fonts.googleapis.com/css2?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);

body {
    margin: 0;
    background-color:#FFFFFF;  
    font-family:'Roboto','Montserrat', sans-serif;
    font-size: 22px;    
}
/* main style */

.header {
    background: linear-gradient(180deg,  white, #EEEEEE 50%,  white 100%);    
    width: 100%;
    height: 115px; 
    box-shadow: 0px 1px 4px #00000029;    
    opacity: 1;           
}

#img {    
    position: absolute;
    left: 30px;
    top: 25px;        
}

section #img img {    
    width: 49%;
}

section #main-navigation{    
    display: inline-flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 300px;  
    height: 100%;                 
}

section #main-navigation ul{ 
    text-align: center;  
    list-style: none;
    padding: 0;  
}

section #main-navigation ul li {
    display: inline-block;
}
    

section #main-navigation ul li a {
    text-decoration: none;        
    padding: 44px 15px;
    color: inherit;    
}

/* hover style */

li:hover{
    color: white;
}

a:hover {    
    background-color: #F44336;
    color: white;      
    transition-duration: 0.6s;    
}
a #main-navigation:hover {
    background-color: #F44336;
    color: white;      
    transition-duration: 0.6s;
}

/* button style */

.button-um {
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    margin: 7px; 
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: black;
    border-radius: 6px;    
    width: 136px;
    height: 51px;
    text-decoration: none;
    font-size: 22px ;        
}

.button-dois {
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    margin: 7px;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color: black;    
    border-radius: 6px;    
    width: 136px;
    height: 51px;
    text-decoration: none;
    font-size: 22px ;        
}

section #button-location {    
    position: absolute;          
    right: 30px;    
}

/* Main Content */

.container {
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

.horizontal-dotted-line {    
    margin-bottom: 1%;    
    border: dashed 2px #F44336;
    opacity: 1;
} 

.hero {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 37px;

}

.hero-title-header {    
    font-size: 30px ;
    height: 92px;
    width: 100%;    
    background-color: #F44336;    
    display: flex;    
    flex-direction: row;
    align-items: center;    
    font-family:'Montserrat';
    font-weight: 600;
    letter-spacing: 0.7px;
    }

.hero-title-header h1 {
    color: white;
    display: flex;    
} 

.hero-content {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-family: 'Tahoma';
    font-size: 20px;   
}

.hero-subtitle {
    width: 100%;    
    margin: 0;    
    text-align: left;
    margin-top: 4%;
    padding-bottom: 1%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}

.hero-content p {
    line-height: 1.3;
    width: 48%;
    height:auto;
    padding-right: 2%;
    padding-top: 0px;    
    padding-bottom: 2px;
    font-size: 20px;
    color: #424242;
}

.hero-img {
    width: auto;
    height: auto;
    align-self: flex-start;
}
